<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>394734183329-fb4us30brgf882cm2s7n4nsr28ko367s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.394734183329-fb4us30brgf882cm2s7n4nsr28ko367s</string>
	<key>API_KEY</key>
	<string>AIzaSyBh-Vw2mJgt8IOrncVU-yl8qyvtjkShmbw</string>
	<key>GCM_SENDER_ID</key>
	<string>394734183329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codelion.CheckIt</string>
	<key>PROJECT_ID</key>
	<string>checkit-22e0e</string>
	<key>STORAGE_BUCKET</key>
	<string>checkit-22e0e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:394734183329:ios:7d5cfd8538c5a7727da1e0</string>
</dict>
</plist>